<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>basket.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,201},{39,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,32}}</string>
                <key>sourceSize</key>
                <string>{39,32}</string>
            </dict>
            <key>boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>cake-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,144},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>cake-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,161},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>cake-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,161},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>cake-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,178},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,176},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>lessboom.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,211},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>life-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,73},{125,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,69}}</string>
                <key>sourceSize</key>
                <string>{125,69}</string>
            </dict>
            <key>life-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{125,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,69}}</string>
                <key>sourceSize</key>
                <string>{125,69}</string>
            </dict>
            <key>life-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,69}}</string>
                <key>sourceSize</key>
                <string>{125,69}</string>
            </dict>
            <key>life-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,69}}</string>
                <key>sourceSize</key>
                <string>{125,69}</string>
            </dict>
            <key>plus-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,161},{42,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,15}}</string>
                <key>sourceSize</key>
                <string>{42,15}</string>
            </dict>
            <key>plus-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,144},{51,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,15}}</string>
                <key>sourceSize</key>
                <string>{51,15}</string>
            </dict>
            <key>plus-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,144},{52,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,15}}</string>
                <key>sourceSize</key>
                <string>{52,15}</string>
            </dict>
            <key>plus-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,144},{52,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,15}}</string>
                <key>sourceSize</key>
                <string>{52,15}</string>
            </dict>
            <key>s-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,249},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>s-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,269},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>s-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,230},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>s-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,269},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>s-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,161},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>s-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,288},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>s-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,211},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>s-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,200},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>s-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,268},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>s-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,181},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>t-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,216},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>t-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,262},{24,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,35}</string>
            </dict>
            <key>t-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,290},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>t-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,244},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
            <key>t-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,216},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>t-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,249},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>t-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,235},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>t-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,257},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>t-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,252},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>t-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,219},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icons.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54dc524b2c0cd043daf578ecf429bad5:4de01fb4e9a419916d40307489e72348:a73c72aca107c42120aa7eba166486e5$</string>
            <key>textureFileName</key>
            <string>icons.png</string>
        </dict>
    </dict>
</plist>
