body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
	border: 0;
}table{
	border-collapse:collapse;
	border-spacing:0;
}fieldset,img{
	border:0;
}address,caption,cite,code,dfn,em,strong,th,var,b,i{
	font-style:normal;
	font-weight:normal;
}ol,ul,dl{
	list-style:none;
}caption,th{
	text-align:left;
}h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}q:before,q:after{
	content:'';
}abbr,acronym{
	border:0;
	font-variant:normal;
}sup{
	vertical-align:text-top;
}sub{
	vertical-align:text-bottom;
}input,textarea,select,button{
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}img,input,label,button{
	vertical-align:middle;
}input:focus,button:focus,select:focus,textarea:focus{
	outline:0;
}a::-moz-focus-inner,input::-moz-focus-inner,button::-moz-focus-inner{
	border:0;
}button::-moz-focus-inner,input::-moz-focus-inner{
	padding:0;
}